@use "./base/base";
@use "./base/reset";
@use "./global" as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 27px;
  width: 100%;
  @media (max-width: 768px) {
    padding-top: 16px;
  }
}

.header_list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_item:not(:first-child) {
  margin-left: 100px;
  @media (max-width: 768px) {
    margin-left: 80px;
  }
}

.header_link {
  font-size: 18px;
  color: gray;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.fv {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1440 / 780;
  background-image: url(../images/fv-img.jpg);
  background-size: contain;
  @media (max-width: 768px) {
    background-image: url(../images/fv-img-sp.jpg);
    aspect-ratio: 375 / 650;
  }
}

.fv_title {
  font-size: 60px;
  color: gray;
  @media (max-width: 768px) {
    font-size: 40px;
  }
}

.story {
  padding-top: 90px;
  background-color: #edebe9;
}

.story_inner {
  max-width: 920px;
  margin-inline: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.story_title {
  font-size: 46px;
  color: #170a01;
  @media (max-width: 768px) {
    font-size: 28px;
  }
}

.story_text {
  font-size: 16px;
  margin-top: 40px;
  line-height: 2.25;
  @media (max-width: 768px) {
    line-height: 2.14;
    font-size: 14px;
    margin-top: 30px;
  }
}
