@use "./base/base";
@use "./base/reset";
@use "./global" as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 27px;
  width: 100%;
  @media (max-width: 768px) {
    padding-top: 16px;
  }
}

.header_list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_item:not(:first-child) {
  margin-left: 100px;
  @media (max-width: 768px) {
    margin-left: 80px;
  }
}

.header_link {
  font-size: 18px;
  color: gray;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
